@font-face {
    font-family: 'RobotoSlab-Regular';
    src:url(../fonts/RobotoSlab-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Raleway-Regular';
    src:url(../fonts/Raleway-Regular.ttf) format('truetype');
}
html, body{
    font-size: 100%;
	background:	#fff;
}
body {
	font-size: 100%;
	font-family: 'RobotoSlab-Regular';
	margin: 0;
	padding: 0;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
.head-main{
	text-align:center;
}
.header-top{
	background: url(../images/banner.jpg) no-repeat;
	background-size:cover;
	background-position: center center;
	min-height: 280px;
	padding:2em 0px;
}
.head {
    position: relative;
}
.header {
	padding: 1em 0px;
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.11);
}
ul.navig {
    padding: 0;
    margin-top: 0.4%;
}
ul.navig li {
	display: inline-block;
}
ul.navig li a {
    font-size: 1.07em;
    color: #3d1a1b;
    text-decoration: none;
    padding-left: 45px;
}
ul.navig li a:hover{
	color:#999;
}
ul.navig li a:hover ul.navig li a:after{
	display: block;
}
ul.navig li a.active{
	color:#999;
}
.banner-top{
	background:url(../images/banner.jpg) no-repeat;
	min-height:600px;
	background-size:cover;
	background-position: center center;
	position:relative;
	border-radius: 5px;
}
.about{
	padding:1em 0px;
}
.about-one{
	text-align:center;
}
.about-one h3{
	font-size:24px;
	margin:0px 0 0 0;
	color:#3d1a1b;
}
.about-two{
	margin-top:0;
	text-align:center;
	padding-left: 100px;
	padding-right: 100px;
}
.about-two img{
	width:25%;
	border-radius: 25px
}
.about-two p{
	font-size:14px;
	font-family: 'Raleway-Regular';
	color:#999;
	line-height:1.8em;
	margin-top:1%;
}
.about-two p a{
	color:#190608;
}margin-top:4%;
.about-two ul li p{
	color:#999;
	font-size:17px;
}
.about-three{
	text-align: center;
}
.about-three img{
	width:55%;
	border-radius: 15px
}
.footer{
	padding:2em 0px;
	box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.11);
	text-align:center;
}
.footer-text p{
	font-size:15px;
	color:#999;
}
.footer-text p a:hover{
	color:#190608;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}