body{
	margin:0;
	padding:0;
	background:url("#") no-repeat center bottom;
	background-size:cover;
	background-attachment:fixed;
	background-image: -webkit-linear-gradient(#FFF,#11C7C7);
}
.box{
	width: auto;
	margin: auto;
	padding: 0 10px;
	height:60px;
	width:100%;
	background:url(bground1.jpg) no-repeat center;
	background-size: cover;
	position:fixed;
	text-align:center;
	top:0;
	z-index: 100;

}
.menu{
	text-align:center;
	position:fixed;
	height:100%;
	left:0;
	top:0;
	width:100%;
}
.menu li{
	display: inline-block;
	font-family:"Vollkorn",serif;
	text-transform: uppercase;
	letter-spacing:2px;
	font-size:20px;
	font-weight:600;
	margin-right:40px;
	width:auto;
}
.menu a{
	color:#055353;
}
.historia,.hobby,.conquistas,.desejos{
	text-align:right-side;
}
.nome,.historia,.hobby,.conquistas,.desejos{
	top:60px;
	position: relative;
	margin:0 auto;
	width:70%;
	box-sizing:border-box;
}
.nome{
	text-align:center;
}
.nome img{
	position:center;
	width:90%;
}
.historia img,.hobby img,.conquistas img{

    border: transparent thin solid;
    padding: 5px;
    margin: 0px 5px 5px 0;
	max-height:300px;
    max-width:200px;
}
.escrito{
	box-sizing:border-box;
	text-align:relative;
	height: auto;
	margin-left:20px;
	margin-left:20px; 
}
h1{
	font-size:50px;
	color:#109471;
}
h1,h2{
	font-family:"Vollkorn",serif;
}
h2,h3{
	color:#055353;
}
h3{
	font-family:"Boogaloo",serif;
	font-size:35px;
	letter-spacing:3px;
}
p{
	font-family:"Quattrocento",serif;
	letter-spacing:3px;
}