body {
	margin: 0;
	padding: 0;
}

.menu {
	background-color: DarkSlateGray;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	font-size: 28px;
	z-index: 2;
}

a.menu-itens {
	color: White;
	font-family: "Encode Sans", sans-serif;
	text-decoration: none;
	padding: 0 15px;
	text-transform: uppercase;
}

ul{
	margin: 5px 0;
	text-align: center;
}

li {
	display: inline;
	position: relative;
	/*left: 1%;*/
}
/*
* { 
  border: 1px solid rgba(0, 0, 0, 0.3);
}
*/
.banner-index, .banner-interesses, .banner-random {
	height: 500px;
	width: 100%;
}

.banner-index{
	background: url(img/385H.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

.banner-interesses{
	background: url(img/114H.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

.banner-random{
	background: url(img/353H.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

#banner-text {
	margin: 0 auto;
	position: relative;
	text-align: center;
	top: 40%;
	width: 50%;
	font-family:"Roboto", sans-serif;
	font-size: 110px;
	letter-spacing: 0.25em;
	color: DarkSlateGray;
	font-weight: 2500;
}

#photo {
	width: 250px;
	height: 250px;
	float: left;
	border-radius: 100%;
	margin: 20px 20px;
}

h1.main{
	font-family: "Encode Sans", Roboto, sans-serif;
	font-size: 36px;
	color: DarkSlateGray;
}

p.main{
	font-family: Roboto, "Encode Sans", sans-serif;
	font-size: 25px;
	color: Black;
}

h2.main{
	font-family: "Encode Sans", Roboto, sans-serif;
	font-size: 28px;
	color: DarkSlateGray;
}

#contato {
	text-align: center;
}